.to-left {
  float: left;
  margin: rem-calc(0 20 20 0);
}
.to-right {
  float: right;
  margin: rem-calc(0 0 20 20);
}
.clearfix {
  &:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
  }
}
.picture-container,
.picture-container-content {
  position: relative;
}
.picture-container {
  overflow: hidden;
  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
    &.to-right {
      left: auto;
      right: 0;
      min-width: auto;
      transform: translate(0, -50%);
    }
  }
}
.picture-container-content {
  z-index: 2;
}
.section {
  padding: 20px 0;
  &.light {
    background-color: $super-light-gray;
  }
  &.white {
    background-color: $white;
  }
}
.blocks-cell {
  margin-bottom: 10px;
}
.blocks-card {
  margin-bottom: 0;
  height: 100%;
}
.card-picture,
.card-info {
  position: relative;
}
.card-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  overflow: hidden;
  height: rem-calc(200);
}
.card-info {
  z-index: 2;
  padding-top: 0;
  font-size: rem-calc(15);
  line-height: unitless-calc(25, 15);
  font-weight: 600;
  p {
    margin-bottom: rem-calc(15);
    line-height: unitless-calc(25, 15);
  }
}
.card-info-title {
  font-size: rem-calc(13);
  line-height: unitless-calc(21, 13);
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $primary-dark;
  transition: color 0.2s linear 0.1s;
}
.card-info-extra {
  font-size: rem-calc(14);
  line-height: unitless-calc(20, 14);
  font-weight: $global-weight-normal;
  color: $anchor-color-hover;
}
.content-card {
  background-color: $white;
}
.content-block {
  margin-bottom: rem-calc(10);
}
.custom-object {
  margin-bottom: rem-calc(20);
  padding: rem-calc(10);
  font-size: rem-calc(15);
  line-height: unitless-calc(24, 15);
  background-color: $white;
  p {
    line-height: unitless-calc(24, 15);
  }
}
.custom-object-picture {
  width: 100%;
  border: 0;
}
.custom-object-title {
  display: inline-block;
  color: $primary-dark;
  a {
    color: inherit;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
}
.form-content-card {
  margin-left: auto;
  margin-right: auto;
  padding: rem-calc(20 0 10);
  max-width: rem-calc(923);
}
