@include breakpoint(medium) {
  // Home page
  p,
  .list {
    margin-bottom: rem-calc(25);
  }
  .hero-content {
    padding-top: 20px;
    padding-bottom: 20px;
    p {
      margin-bottom: rem-calc(40);
    }
  }
  .hero-title {
    margin-bottom: rem-calc(25);
  }
  // .section {
  //   padding-top: 40px;
  //   padding-bottom: 40px;
  // }
  .blocks-cell {
    margin-bottom: 20px;
  }
  .submit-button {
    margin-right: rem-calc(26);
  }
  .copyright-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  // Inner pages
  .content-block {
    margin-bottom: rem-calc(20);
  }
  .page-content-card {
    padding: rem-calc(20);
  }
  .custom-object {
    padding: rem-calc(20);
  }
  .catalog-object {
    padding: rem-calc(20 10);
  }
  .sidebar-section {
    margin-bottom: rem-calc(20);
  }
  .sidebar-block {
    p {
      margin-bottom: rem-calc(22);
    }
  }
  .form-content-card {
    padding-top: rem-calc(30);
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
  table {
    margin-bottom: rem-calc(25);
    th,
    td {
      &:last-child {
        label {
          float: right;
        }
      }
    }
  }
  .media-link {
    padding: rem-calc(20);
  }
  .page-title {
    margin-bottom: rem-calc(12);
  }
  .custom-object-picture {
    max-width: rem-calc(180);
  }
}

@include breakpoint(large) {
  // Home page
  .header-content {
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .infoblock-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .navigation-menu {
    li {
      flex-grow: 1;
      &:first-child {
        a {
          border-left: 1px solid #2f47a6;
        }
      }
    }
    a {
      height: 100%;
      border-right: 1px solid #2f47a6;
    }
  }
  .hero-slide {
    min-height: rem-calc(478);
  }
  .hero-content {
    padding-top: 79px;
    padding-bottom: 53px;
    p {
      margin-bottom: rem-calc(55);
    }
  }
  .hero-title {
    margin-bottom: rem-calc(40);
  }
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .goods-card-info {
    padding-bottom: rem-calc(38);
  }
  .popular-card-info {
    padding-bottom: rem-calc(26);
  }
  .send-content-card {
    padding-top: rem-calc(78);
  }
  .form {
    label {
      line-height: unitless-calc(44, 14);
    }
    input,
    textarea {
      margin-bottom: rem-calc(31);
    }
  }
  .files-to-remove {
    padding-bottom: rem-calc(28);
  }
  .send-form {
    input,
    textarea {
      margin-bottom: rem-calc(40);
    }
    .upload-file-link {
      margin-bottom: rem-calc(39);
    }
  }
  .footer {
    background-image: linear-gradient(90deg, $primary-background-light 25%, $primary-background 0);
  }
  .footer-col {
    padding-top: rem-calc(54);
    padding-bottom: rem-calc(34);
  }
  .footer-contact-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-infoblock {
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);
  }
  .footer-content {
    padding-left: rem-calc(48);
  }
  .footer-subsection {
    padding-top: rem-calc(20);
  }

  // Inner pages
  .breadcrumbs {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(42);
  }
  .content-block {
    margin-bottom: rem-calc(48);
  }
  .page-content-card {
    padding: rem-calc(68 64 40);
  }
  .page-content-button {
    margin-top: rem-calc(24);
  }
  .page-goods-blocks {
    margin-bottom: rem-calc(60);
  }
  .custom-object {
    padding: rem-calc(30);
  }
  .catalog-object {
    padding: rem-calc(40 10);
    &:first-child {
      padding-top: rem-calc(30);
    }
  }
  .catalog-objects-section {
    padding-top: rem-calc(70);
    padding-bottom: rem-calc(10);
  }
  .form-content-card {
    margin-top: rem-calc(6);
    margin-bottom: rem-calc(53);
    padding: rem-calc(70 70 42);
  }
  .form-content-title {
    margin-bottom: rem-calc(55);
  }
  .inner-content {
    padding-top: rem-calc(4);
    padding-bottom: rem-calc(36);
  }
  .photos-blocks {
    padding-top: rem-calc(62);
    padding-bottom: rem-calc(51);
  }
  .table-block {
    padding-top: rem-calc(45);
    padding-bottom: rem-calc(60);
  }
  table {
    margin-bottom: rem-calc(42);
    th,
    td {
      &:first-child {
        padding-left: rem-calc(30);
      }
      &:last-child {
        padding-right: rem-calc(30);
      }
    }
  }
  .media-link {
    padding: rem-calc(20);
  }
  .content {
    p {
      padding-right: rem-calc(20);
    }
  }
  .media-link-block {
    padding-top: rem-calc(54);
    padding-bottom: rem-calc(54);
  }
  .pages-navigation {
    a {
      padding: rem-calc(27 16);
    }
  }
  .inner-pages-navigation {
    margin-top: rem-calc(7);
  }
  .projects-content {
    padding-top: rem-calc(19);
    padding-bottom: rem-calc(54);
  }
  .gallery {
    padding-top: rem-calc(8);
    padding-right: rem-calc(20);
  }
  .page-heading,
  .project-gallery {
    margin-bottom: rem-calc(40);
  }
  .project-gallery-thumbs {
    height: 97px;
  }
  .content-section {
    margin-bottom: rem-calc(44);
    & > p {
      margin-bottom: rem-calc(38);
      &.lead {
        margin-bottom: rem-calc(23);
      }
    }
  }
  .project-info-list {
    &.bullets-outside {
      padding-left: 0;
    }
  }
  .project-info-button {
    margin-top: rem-calc(20);
  }
  .product-info {
    margin-bottom: rem-calc(5);
  }
  .filter-section {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(44);
  }
  .filter-select {
    margin-bottom: rem-calc(40);
  }
  .filter-card {
    margin-bottom: rem-calc(36);
    padding: rem-calc(20);
  }
  .filter-table {
    margin-bottom: rem-calc(7);
  }
  .quick-search-section {
    padding-top: rem-calc(33);
    padding-bottom: rem-calc(50);
  }
  .quick-search-table {
    td {
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
    }
  }
  .services-object {
    margin-bottom: rem-calc(30);
    padding-bottom: rem-calc(48);
  }
  .services-content {
    padding-bottom: rem-calc(51);
  }
}

@include breakpoint(xlarge) {
  // Home page
  .navigation-menu {
    li {
      flex-basis: rem-calc(190);
    }
  }
  .send-content-card {
    padding-left: rem-calc(30);
  }

  // Inner pages
  .sidebar-section {
    margin-bottom: rem-calc(30);
    padding: rem-calc(30 25);
  }
  .sidebar-block {
    padding: rem-calc(20);
  }
  .catalog-select {
    margin-bottom: rem-calc(20);
  }
}

@include breakpoint(1280px) {
  // Home page
  .send-content-card {
    padding-left: rem-calc(70);
  }
}

@include breakpoint(xxlarge) {
  // Home page
  .send-content-card {
    margin-left: rem-calc(-78);
    margin-right: rem-calc(-78);
  }
}

@include breakpoint(large down) {
  // Home page
  .picture-container {
    & > img {
      &.to-right {
        position: static;
        right: auto;
        min-width: auto;
        min-height: auto;
        width: 100%;
        transform: translate(0);
      }
    }
  }
}

@include breakpoint(medium down) {
  // Home page
  p.lead {
    font-size: rem-calc(18);
  }
  .header-logo {
    max-width: 124px;
  }
  .header-infoblock-content {
    p {
      margin-bottom: 0;
    }
  }
  .header-phone-link {
    color: $anchor-color-hover;
    &:hover,
    &:focus {
      color: $anchor-color-hover;
    }
  }
  .burger-wrapper {
    line-height: 0;
  }
  .navigation {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: padding 0.4s ease-in, opacity 0.4s ease-in, max-height 0.4s ease-in;
    .menu {
      li {
        opacity: 0;
        transition: opacity 0.4s ease-in 0.2s;
      }
    }
    &.shown {
      overflow: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      max-height: rem-calc(400);
      opacity: 1;
      transition: opacity 0.6s ease-out, max-height 0.6s ease-out, padding 0.1s;
      .menu {
        li {
          opacity: 1;
          transition: opacity 0.3s ease-out 0.1s;
        }
      }
    }
  }
  .navigation-menu {
    margin-left: -10px;
    margin-right: -10px;
    a {
      padding-top: rem-calc(12);
      padding-bottom: rem-calc(12);
    }
  }
  .hero-picture-container {
    & > img {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  .filter-table {
    margin-bottom: 0;
    thead tr,
    tbody,
    tbody tr {
      display: flex;
    }
    thead tr,
    tbody {
      flex-wrap: wrap;
    }
    th {
      flex: 1 1 33.3333%;
    }
    tbody tr {
      flex: 1 1 50%;
    }
    tbody {
      tr {
        flex-direction: column;
      }
    }
    th:nth-child(3n + 1),
    tr:nth-child(odd) td {
      padding-left: 0;
    }
    th:nth-child(3n + 3),
    tr:nth-child(even) td {
      padding-left: rem-calc(10);
      padding-right: 0;
    }
    tr {
      &:nth-child(odd) {
        td {
          border-right: 1px solid #d2d2d2;
          &:last-child {
            padding-right: rem-calc(10);
          }
        }
      }
    }
    th {
      padding-bottom: rem-calc(20);
      &:empty {
        display: none;
      }
    }
    td {
      &:first-child {
        margin-bottom: auto;
      }
      &:last-child {
        text-align: left;
      }
    }
  }
  .buy-button {
    width: 100%;
  }
  .quick-search-table {
    th {
      &:last-child {
        text-align: left;
      }
    }
  }
}

@include breakpoint(small only) {
  // Home page
  .small-expanded {
    width: 100%;
  }

  // Inner pages
  .to-right {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .breadcrumbs {
    li {
      display: none;
      max-width: rem-calc(140);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-child,
      &:last-child {
        display: list-item;
      }
    }
  }
  table {
    th,
    td {
      padding-top: rem-calc(12);
      padding-bottom: rem-calc(5);
      &:last-child {
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(30);
      }
      &:empty {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .filter-table {
    thead tr,
    tbody {
      flex-direction: column;
    }
    thead {
      tr {
        padding-bottom: rem-calc(10);
      }
    }
    tr {
      &:nth-child(odd) {
        td {
          border-right: 0;
          &:last-child {
            padding-right: 0;
          }
        }
      }
      &:nth-child(even) {
        td {
          padding-left: 0;
        }
      }
    }
    th,
    td {
      padding-left: 0;
      padding-right: 0;
      &:nth-child(3n + 3) {
        padding-left: 0;
      }
    }
    th {
      padding-bottom: rem-calc(10);
    }
    td {
      &:first-child {
        padding-top: rem-calc(20);
      }
      &:last-child {
        padding-bottom: rem-calc(20);
      }
    }
  }
  .quick-search-table {
    th {
      &:last-child {
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
      }
    }
  }
}
