ul {
  font-size: rem-calc(15);
}
p {
  &.lead {
    font-weight: 600;
  }
}
a,
button {
  outline: 0;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;
}
a,
svg {
  display: inline-block;
}
a {
  line-height: 1;
  border-bottom: 1px solid $anchor-color;
  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }
}
table {
  tbody {
    tr {
      & + tr {
        border-top: 1px solid #bfbfbf;
      }
    }
  }
  th,
  td {
    vertical-align: middle;
    &:last-child {
      text-align: right;
    }
  }
  th,
  td:first-child {
    font-size: rem-calc(15);
    line-height: unitless-calc(25, 15);
  }
  th {
    padding-top: rem-calc(42);
    padding-bottom: rem-calc(5);
    font-weight: $global-weight-normal;
    color: #a5a5a5;
  }
  .table-label {
    display: block;
  }
}
svg {
  vertical-align: middle;
  fill: currentColor;
}
.text-up {
  text-transform: uppercase;
}
.title {
  &.white {
    color: $white;
  }
  &.black {
    color: $black;
  }
  &.bordered {
    position: relative;
    margin-bottom: rem-calc(40);
    &:after {
      content: '';
      position: absolute;
      bottom: rem-calc(-23);
      left: 0;
      width: rem-calc(48);
      height: 2px;
    }
    &.secondary {
      &:after {
        background-color: $secondary-color;
      }
    }
    &.primary-light {
      &:after {
        background-color: $primary-background-light;
      }
    }
  }
}
.subtitle {
  font-size: rem-calc(15);
  line-height: unitless-calc(24, 15);
}
.subsection-title {
  font-weight: 600;
}
.list {
  li {
    padding-top: rem-calc(4);
    padding-bottom: rem-calc(4);
    &:before {
      content: '\2022';
      vertical-align: middle;
      margin-right: rem-calc(5);
      font-size: rem-calc(30);
      line-height: 20px;
      font-weight: 700;
      color: $primary-color;
    }
  }
  &.bullets-outside {
    padding-left: rem-calc(17);
    li {
      position: relative;
      &:before {
        position: absolute;
        top: rem-calc(8);
        left: rem-calc(-17);
      }
    }
  }
}
