.project-gallery {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $white;
  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    box-sizing: border-box;
  }
}
.project-gallery-main {
  margin-bottom: 10px;
  .swiper-slide {
    padding: 0;
  }
  img {
    margin: 0;
    width: 100%;
  }
}
.project-gallery-thumbs {
  height: 60px;
  .swiper-slide {
    width: auto;
    height: 100%;
  }
  .swiper-slide-active {
    border: 6px solid $primary-color;
  }
  img {
    height: 100%;
  }
}
.project-gallery-control {
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
  color: $white;
  background-color: rgba($black, 0.68);
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $primary-color;
  }
}
.project-gallery-prev {
  left: 0;
}
.project-gallery-next {
  right: 0;
}

.parameters-gallery-slide {
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(10);
}
.parameters-gallery-control {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  color: #b6b6b6;
  transform: translateY(-50%);
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $primary-color;
  }
  .icon {
    outline-color: transparent;
  }
}
.parameters-gallery-prev {
  left: 10px;
}
.parameters-gallery-next {
  right: 10px;
}
