.header,
.footer {
  a {
    border: 0;
  }
}
.header {
  color: $white;
  background-color: $primary-background;
}
.header-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infoblock-picture {
  &.bordered {
    border: 2px solid rgba($white, 0.17);
  }
}
.header-infoblock-picture {
  margin-right: rem-calc(18);
  width: rem-calc(61);
  height: rem-calc(61);
}
.infoblock-content {
  line-height: 1;
}
.header-infoblock-content {
  font-size: rem-calc(18);
}
.infoblock-text {
  line-height: 1;
  font-weight: 600;
}
.header-infoblock-text {
  margin-bottom: rem-calc(10);
}
.phone-link {
  border: 0;
  line-height: 1;
  color: $white;
  &:hover,
  &:focus {
    color: $white;
  }
}
.infoblock-link {
  font-size: rem-calc(14);
  color: $primary-lightest;
  &:hover,
  &:focus {
    color: $anchor-color-hover;
  }
}
