.navigation {
  color: $white;
  background-color: $primary-color;
}
.navigation-menu {
  li {
    font-size: rem-calc(15);
    font-weight: 600;
  }
  a {
    color: $white;
    &:hover,
    &:focus {
      background-color: $primary-light;
    }
  }
}
