.svg-cart-dims {
	width: 33.99px;
	height: 25.01px;
}

.svg-clip-dims {
	width: 42.88px;
	height: 89.97px;
}

.svg-fcb-dims {
	width: 12px;
	height: 21px;
}

.svg-magnifier-dims {
	width: 35px;
	height: 36px;
}

.svg-marker-dims {
	width: 38.61px;
	height: 51px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-phone-call-dims {
	width: 121.63px;
	height: 201.79px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

