.svg-angle-left-dims {
	width: 12px;
	height: 21.32px;
}

.svg-angle-right-dims {
	width: 12px;
	height: 21.32px;
}

.svg-arrow-left-dims {
	width: 56.23px;
	height: 75.65px;
}

.svg-arrow-right-dims {
	width: 56.23px;
	height: 75.65px;
}

.svg-cart-dims {
	width: 33.99px;
	height: 25.01px;
}

.svg-check-mark-dims {
	width: 15.98px;
	height: 11.98px;
}

.svg-clip-dims {
	width: 42.88px;
	height: 89.97px;
}

.svg-closer-dims {
	width: 12.01px;
	height: 12.01px;
}

.svg-document-dims {
	width: 72.24px;
	height: 90px;
}

.svg-fcb-dims {
	width: 12px;
	height: 21px;
}

.svg-info-dims {
	width: 2px;
	height: 10px;
}

.svg-machine-dims {
	width: 62px;
	height: 62px;
}

.svg-magnifier-dims {
	width: 35px;
	height: 36px;
}

.svg-marker-dims {
	width: 38.61px;
	height: 51px;
}

.svg-microscope-dims {
	width: 72.14px;
	height: 90px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-phone-call-dims {
	width: 121.63px;
	height: 201.79px;
}

.svg-robot-dims {
	width: 59.18px;
	height: 64px;
}

.svg-shield-dims {
	width: 41.26px;
	height: 47.69px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

