<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell large-4">
        <a href="#" class="logo"><img src="assets/img/logo-secondary.png" alt=""></a>
        <div class="grid-x grid-pading-x">
          <div class="cell medium-6 large-12">
            <div class="infoblock">
              <div class="infoblock-picture">
                <svg class="icon" width="21" height="34"><use xlink:href="#phone-call"></use></svg>
              </div>
              <div class="infoblock-content">
                <p>
                  <a href="tel:+73422768919" class="phone-link">
                    <span class="phone-link-text">+7&nbsp;(342)&nbsp;276-89-19</span>
                  </a>
                </p>
                <a href="#">Заказать звонок</a>
              </div>
            </div>
          </div>
          <!-- /.cell -->
          <div class="cell medium-6 large-12">
            <div class="infoblock">
              <div class="infoblock-picture">
                <svg class="icon" width="20" height="27"><use xlink:href="#marker"></use></svg>
              </div>
              <div class="infoblock-content">
                <p>Пермь, Карбышева, 41</p>
                <a href="#">Показать на карте</a>
              </div>
            </div>
          </div>
          <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
        <ul class="scl-menu menu simple align-middle">
          <li>
            <a href="#">
              <svg class="icon" width="28" height="15">
                <use xlink:href="#vk"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon" width="12" height="21">
                <use xlink:href="#fcb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.cell -->
      <div class="cell large-8">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-5 large-4">
            <ul class="vertical menu simple">
              <li><a href="#">О компании</a></li>
              <li><a href="#">Отзывы</a></li>
              <li><a href="#">Обслуживание</a></li>
              <li><a href="#">Выполненые работы</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <!-- /.cell -->
          <div class="cell medium-7 large-8">
            <ul class="vertical menu simple">
              <li><a href="#">Зубчатые накладные кулачки</a></li>
              <li><a href="#">Мягкие накладные кулачки</a></li>
              <li><a href="#">Твердые ступенчатые накладные кулачки</a></li>
              <li><a href="#">Твердые ступенчатые блочные кулачки</a></li>
              <li><a href="#">Пазовые сухари</a></li>
            </ul>
          </div>
          <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
        <hr>
        <div class="subsection">
          <div class="subsection-title">Задайте вопрос главному конструктору</div>
          <p>Существуют две основные трактовки понятия «текст»: «имманентная» (расширенная, философски нагруженная) и «репрезентативная»</p>
          <a href="#" class="button primary-light">Задать вопрос</a>
        </div>
        <!-- /.subsection -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
  <div class="footer-bottom">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="copyright-wrapper cell medium-auto medium-order-2">
          <div class="footer-author-copyright copyright">создание сайта <a href="#">Рецепты Рекламы</a></div>
        </div>
        <!-- /.cell -->
        <div class="cell medium-auto medium-order-1">
          <div class="copyright">(c) Все права защищены, 2018</div>
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.footer-bottom -->
</footer>
<!-- /.footer -->