<div class="goods-blocks blocks grid-x grid-padding-x medium-up-2 large-up-3 xlarge-up-5">
  <div class="blocks-cell cell">
    <a href="#" class="goods-card blocks-card card">
      <div class="card-picture card-section">
        <img src="assets/img/goods/1.png" class="goods-picture" alt="">
        <img src="assets/img/goods/1-s.png" class="goods-picture shadow" alt="">
      </div>
      <div class="goods-card-info card-info-title card-info card-section">Зубчатые накладные кулачки</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="blocks-cell cell">
    <a href="#" class="goods-card blocks-card card">
      <div class="card-picture card-section">
        <img src="assets/img/goods/2.png" class="goods-picture" alt="">
        <img src="assets/img/goods/2-s.png" class="goods-picture shadow" alt="">
      </div>
      <div class="goods-card-info card-info-title card-info card-section">Мягкие накладные кулачки</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="blocks-cell cell">
    <a href="#" class="goods-card blocks-card card">
      <div class="card-picture card-section">
        <img src="assets/img/goods/3.png" class="goods-picture" alt="">
        <img src="assets/img/goods/3-s.png" class="goods-picture shadow" alt="">
      </div>
      <div class="goods-card-info card-info-title card-info card-section">Твердые ступенчатые накладные кулачки</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="blocks-cell cell">
    <a href="#" class="goods-card blocks-card card">
      <div class="card-picture card-section">
        <img src="assets/img/goods/4.png" class="goods-picture" alt="">
        <img src="assets/img/goods/4-s.png" class="goods-picture shadow" alt="">
      </div>
      <div class="goods-card-info card-info-title card-info card-section">Твердые ступенчатые блочные кулачки</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="blocks-cell cell">
    <a href="#" class="goods-card blocks-card card">
      <div class="card-picture card-section">
        <img src="assets/img/goods/5.png" class="goods-picture" alt="">
        <img src="assets/img/goods/5-s.png" class="goods-picture shadow" alt="">
      </div>
      <div class="goods-card-info card-info-title card-info card-section">Пазовые сухари</div>
    </a>
  </div>
  <!-- /.cell -->
</div>
<!-- /.goods-blocks -->