<div class="goods-blocks blocks grid-x grid-padding-x medium-up-3 xlarge-up-5 align-center">
    <div class="cell">
      <a href="#" class="goods-card card">
        <div class="card-picture">
          <img src="assets/img/goods/1.png" class="goods-picture" alt="">
          <img src="assets/img/goods/1-s.png" class="goods-picture shadow" alt="">
        </div>
        <div class="card-info">Зубчатые накладные кулачки</div>
      </a>
    </div>
    <!-- /.cell -->
    <div class="cell">
      <a href="#" class="goods-card card">
        <div class="card-picture">
          <img src="assets/img/goods/2.png" class="goods-picture" alt="">
          <img src="assets/img/goods/2-s.png" class="goods-picture shadow" alt="">
        </div>
        <div class="card-info">Мягкие накладные кулачки</div>
      </a>
    </div>
    <!-- /.cell -->
    <div class="cell">
      <a href="#" class="goods-card card">
        <div class="card-picture">
          <img src="assets/img/goods/3.png" class="goods-picture" alt="">
          <img src="assets/img/goods/3-s.png" class="goods-picture shadow" alt="">
        </div>
        <div class="card-info">Твердые ступенчатые накладные кулачки</div>
      </a>
    </div>
    <!-- /.cell -->
    <div class="cell">
      <a href="#" class="goods-card card">
        <div class="card-picture">
          <img src="assets/img/goods/4.png" class="goods-picture" alt="">
          <img src="assets/img/goods/4-s.png" class="goods-picture shadow" alt="">
        </div>
        <div class="card-info">Твердые ступенчатые блочные кулачки</div>
      </a>
    </div>
    <!-- /.cell -->
    <div class="cell">
      <a href="#" class="goods-card card">
        <div class="card-picture">
          <img src="assets/img/goods/5.png" class="goods-picture" alt="">
          <img src="assets/img/goods/5-s.png" class="goods-picture shadow" alt="">
        </div>
        <div class="card-info">Пазовые сухари</div>
      </a>
    </div>
    <!-- /.cell -->
  </div>
  <!-- /.goods-blocks -->