<header class="header">
  <div class="header-content grid-container">
    <div class="grid-x grid-padding-x align-middle">
      <div class="infoblock-wrapper cell small-2 large-4 large-order-3 xlarge-3">
        <div class="infoblock flex-container align-middle">
          <div class="infoblock-picture bordered flex-container flex-dir-column align-middle align-center show-for-large">
            <svg class="icon" width="21" height="34"><use xlink:href="#phone-call"></use></svg>
          </div>
          <div class="infoblock-content">
            <p class="infoblock-text">
              <a href="tel:+73422768919" class="header-phone-link phone-link">
                <svg class="icon hide-for-large" width="24" height="24">
                  <use xlink:href="#phone"></use>
                </svg>
                <span class="phone-link-text show-for-large">+7&nbsp;(342)&nbsp;276-89-19</span>
              </a>
            </p>
            <a href="#" class="infoblock-link show-for-large">Заказать звонок</a>
          </div>
        </div>
      </div>
      <!-- /.cell -->
      <div class="cell small-8 large-4 large-order-1 xlarge-5 text-center large-text-left">
        <a href="#" class="logo"><img src="assets/img/logo.png" alt=""></a>
      </div>
      <!-- /.cell -->
      <div class="burger-wrapper cell small-2 text-right hide-for-large">
        <button type="button" class="burger navigation-toggle">
          <i></i>
          <i></i>
          <i></i>
        </button>
      </div>
      <!-- /.cell -->
      <div class="infoblock-wrapper cell show-for-large large-4 large-order-2 flex-container align-right">
        <div class="infoblock flex-container align-middle show-for-large">
          <div class="infoblock-picture bordered flex-container flex-dir-column align-middle align-center show-for-large">
            <svg class="icon" width="20" height="27"><use xlink:href="#marker"></use></svg>
          </div>
          <div class="infoblock-content">
            <p class="infoblock-text">Пермь, Карбышева, 41</p>
            <a href="#" class="infoblock-link">Показать на карте</a>
          </div>
        </div>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
  <nav class="navigation">
    <div class="grid-container">
      <ul class="navigation-menu vertical menu large-horizontal text-center">
        <li><a href="#">О компании</a></li>
        <li><a href="#">Продукция</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Клиентам</a></li>
        <li><a href="#">Выполненные работы</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
    <!-- /.grid-container -->
  </nav>
  <!-- /.navigation -->
</header>
<!-- /.header -->